<launch>
  <node pkg="rviz" type="rviz" name="pplanner_ui" output="screen" args="-d $(find pplanner_ui)/config/pplanner.rviz">
    <!--param name="start_planner_service_name" value="/gbplanner_start"/>
    <param name="stop_planner_service_name"  value="/gbplanner_stop"/>
    <param name="homing_service_name"  value="/gbplanner_homing"/>
    <param name="global_planner_service_name"  value="/gbplanner_global"/-->
  </node>
</launch>